@font-face {
  font-family: "nanumMyeongjo";
  src: url(./../assets/font/Nanum_Myeongjo/NanumMyeongjo-ExtraBold.ttf);
}

@font-face {
  font-family: "notoSans";
  src: url(./../assets/font/Noto_Sans_KR/NotoSansKR-Regular.otf);
}

:root {
  --white: white;
  --light-grey: #f8f8f8;
  --light-grey2: #e3e6da;
  --grey: #c9cac9;
  --dark-grey: #c0c0c0;
  --black: #1f191b;
  --light-green: #e8e8a6;
  --accent-color: #059c80;
  --dark-accent-color: #047862;

  --font-title: "nanumMyeongjo";
  --font-normal: "notoSans";
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: var(--white);
}

input,
li,
a,
button,
body {
  font-family: var(--font-normal) !important;
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

input {
  background: transparent;
  border-style: none;
  outline: none;
  overflow: hidden;
}

ul li {
  list-style: none;
  cursor: pointer;
  padding-left: 0; /* 불릿공간 없앰 */
  white-space: nowrap; /* 텍스트 한줄에 */
}

main {
  min-height: 80vh;
  flex-grow: 1;
  padding: 6% 6% 5% 6%;
}

main section {
  margin-bottom: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
  border-style: none;
  background: transparent;
}

/* === Button Styles === */
.btn {
  margin: 0 0.2rem;
  padding: 0.6rem 0.8rem;
  font-size: 0.9rem;
  border-radius: 0.3rem;
  white-space: nowrap;
}
.btn-sm {
  margin: 0 0.2rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
}
.accent {
  background: var(--accent-color);
  border: 1px solid var(--dark-accent-color);
  color: var(--white);
}
.accent:hover {
  background: var(--dark-accent-color);
}
.basic {
  background: var(--light-grey);
  border: 1px solid var(--grey);
}
.basic:hover {
  background: var(--light-green);
  border: 1px solid var(--grey);
}
.noline-accent {
  border: 1px solid var(--light-green);
  background: var(--white);
  color: var(--accent-color);
}
.noline-accent:hover {
  background: var(--light-green);
  color: var(--accent-color);
}
.outline-accent {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
.outline-accent:hover {
  background: var(--accent-color);
  color: var(--white);
}

/* ===== NAVBAR 1 ===== */
.navbar__toggle {
  display: none;
}

.navbar {
  padding: 20px 5%;
  width: 100%;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* position: fixed;
  top: 0;
  z-index: 5; */
}

.navbar__logo a h1 {
  color: var(--accent-color);
  font-family: var(--font-normal);
  /* font-family: var(--font-title); */
  font-size: 1.3rem;
  font-weight: 700;
  white-space: nowrap;
}

/* 검색 */
.navbar__search {
  display: flex;
  align-items: center;
  border: 2px solid var(--accent-color);
  border-radius: 2em; /* 타원형 */
  padding: 1% 2%;
  max-width: 30%;
}
.navbar__search input {
  font-size: 0.9rem;
}
.navbar__search button {
  background: transparent;
  color: var(--accent-color);
}

/* 메뉴 */
.navbar__menu {
  display: flex;
}

.navbar__menu li a,
.navbar__toggle li a {
  font-size: 0.9rem;
  color: var(--black);
  padding: 10px;
}

.navbar__menu li a:hover,
.navbar__toggle li a:hover {
  color: var(--accent-color);
}

.navbar__menu span {
  padding-left: 10px;
}

/* ===== NAVBAR 2 - CATEGORY ===== */
.category {
  padding: 5px 5%;
  background-color: var(--white);
  border-bottom: 1px solid var(--grey);
  width: 100%;
  overflow: auto;
  display: flex;
}
.category::-webkit-scrollbar {
  height: 7px;
}
.category::-webkit-scrollbar-thumb {
  background: var(--light-grey2);
  border-radius: 2em;
}
.category::-webkit-scrollbar-track {
  background: var(--white);
}
.category li {
  flex: 1;
  text-align: center;
  font-size: 0.9rem;
  color: var(--black);
  padding: 10px;
}
.category li:hover {
  border-radius: 10px;
  background-color: var(--accent-color);
  color: var(--white);
}

/* ===== MAIN ===== */
.section__title {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 5%;
}

.section__title span {
  margin-right: 10px;
  color: var(--accent-color);
}

/* item list */
.card-list {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  width: 48%;
  margin: 1%;
  overflow: hidden;
  background: var(--white);
  box-shadow: 1px 1px 5px var(--grey);
  border-radius: 4px;
}

.card-image {
  overflow: hidden; /* 이미지 마우스 오버시 이미지 확대 */
  position: relative;
}

.card-image::after {
  /* 이미지 반응형 정사각형 */
  display: block;
  content: "";
  padding-bottom: 100%;
}

.card-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 가로세로비를 유지하면서 콘텐츠박스를 가득 채움, 안맞으면 잘림 */
  transition: all 0.3s linear; /* 이미지 마우스 오버시 이미지 확대 */
}
.card-image img:hover {
  transform: scale(1.1); /* 이미지 마우스 오버시 이미지 확대 */
}

.card-desc {
  padding: 1.2rem;
  text-align: center;
}
.card-desc h5 {
  color: var(--black);
  font-weight: bold;
  margin-bottom: 1rem;
}
/* price */
.card-desc div {
  margin-bottom: 1rem;
}
.card-desc div span:first-child {
  text-decoration: line-through;
  color: var(--dark-grey);
  font-size: 0.8rem;
  margin-right: 0.4rem;
}
.card-desc div span:last-child {
  color: var(--black);
  font-size: 0.9rem;
  font-weight: 600;
}
.card-desc p {
  color: var(--dark-grey);
  font-size: 0.8rem;
  line-height: 1.2rem;
}

/* ===== FOOTER ===== */
footer {
  background: var(--black);
}

footer ul {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

footer ul li {
  border-right: 1px solid var(--accent-color);
}
footer ul li:last-child {
  border-style: none;
}
footer ul li a {
  color: var(--light-grey);
  font-size: 0.9rem;
  padding: 10px;
}
footer ul li a:hover {
  color: var(--accent-color);
}
footer p {
  padding-bottom: 20px;
  text-align: center;
  color: var(--light-grey);
  font-size: 0.9rem;
}

.topBtn {
  position: fixed;
  right: 30px;
  bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--accent-color);
  color: var(--white);

  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1rem;
}

/* ===== Detail Page ===== */
.detail {
  width: 100%;
  background: var(--white);
  flex-direction: row;
  /* display: flex; */
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.detail-image {
  width: 50%;
  position: relative;
  /* 모서리둥글게 */
  border-radius: 4px;
  overflow: hidden;
}
.detail-image::after {
  /* 이미지 사이즈, 비율 처리 - 정사각형 */
  display: block;
  content: "";
  padding-bottom: 100%;
}
.detail-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 가로세로비를 유지하면서 콘텐츠박스를 가득 채움, 안맞으면 잘림 */
}
.detail-desc {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.detail-desc div {
  margin: 10px;
}
.detail-desc div:first-child {
  font-size: 1.3rem;
}
.detail-desc div:nth-child(3) {
  font-size: 1.2rem;
}
.detail-desc button:first-child {
  margin-right: 10px;
}
/* for transition */
.start {
  opacity: 0;
}
.end {
  opacity: 1;
  transition: opacity 0.5s;
}
/* tab */
.tab {
  width: 100%;
  display: flex;
  background: var(--light-grey);
  color: var(--black);
}
.tab button {
  padding: 15px;
  flex: 1;
  font-size: 1rem;
  border: 1px solid var(--grey);
  border-bottom: 1px solid var(--accent-color);
  margin: 0 0 0 -1px; /* 탭사이 선은 1개로 보이게 */
  position: relative; /* z-index 주기위해 설정 */
}
.tab button:hover {
  background: var(--light-grey2);
}
.tab button.on {
  background: var(--white);
  color: var(--accent-color);
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  border-bottom: none;
  z-index: 2; /* 탭사이 선을 위로 올림 */
}
.tab-content {
  padding: 5%;
}
/* ===== Cart ===== */
.cart {
  background: var(--light-grey);
}
.cart-empty {
  padding: 10%;
  margin: 1% 0;
  background: var(--white);
  border-radius: 1rem;
  border: 1px solid var(--light-grey2);
}
.cart-empty p {
  padding-bottom: 1rem;
}
.cart-empty p:first-child {
  font-weight: bold;
}
.cart-empty p:nth-child(2) {
  padding-bottom: 2rem;
}
.cart-item {
  width: 80%;
  margin: 1% 0;
  background: var(--white);
  border-radius: 1rem;
  border: 1px solid var(--light-grey2);
  display: flex;
  white-space: nowrap;
}
.cart-item div {
  padding: 3% 1%;
  display: flex;
  align-items: center;
  /* border: 1px solid var(--light-grey2); */
}
.cart-item div:nth-child(3) {
  flex: 1;
}
.cart-item input {
  width: 1.3rem;
  text-align: center;
}
.cart-thumbnail {
  width: 70px;
  border-radius: 0.3rem;
}
.cart__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart__footer div:first-child {
  flex: 1;
  width: 100%;
  font-size: 1.2rem;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

/* checkbox style */
.checkbox-wrapper-18 .round {
  position: relative;
}

.checkbox-wrapper-18 .round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  width: 28px;
  display: block;
}

.checkbox-wrapper-18 .round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 8px;
  opacity: 0;
  position: absolute;
  top: 9px;
  transform: rotate(-45deg);
  width: 12px;
}

.checkbox-wrapper-18 .round input[type="checkbox"] {
  visibility: hidden;
  display: none;
  opacity: 0;
}

.checkbox-wrapper-18 .round input[type="checkbox"]:checked + label {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.checkbox-wrapper-18 .round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

/* PC */
@media all and (min-width: 1201px) {
  .navbar {
    padding: 20px 13%;
  }

  .navbar__search {
    height: 2.5rem;
    padding: 1% 1%;
    max-width: 100%;
  }

  .category {
    padding: 5px 13%;
  }

  main {
    padding: 4% 13% 5% 13%;
  }
  .card-list {
    padding: 0;
  }

  .card-item {
    width: 22%;
    margin: 1.5%;
  }
  .detail-image {
    width: 40%;
  }
}

@media all and (min-width: 840px) and (max-width: 1200px) {
  .navbar {
    padding: 20px 10%;
  }
  .category {
    padding: 5px 10%;
  }

  main {
    padding: 5% 10% 5% 10%;
  }

  .card-item {
    width: 31%;
    margin: 1%;
  }
}

@media all and (min-width: 501px) and (max-width: 839px) {
  /* default */
  .navbar {
    align-items: center;
  }
  .navbar__menu span {
    display: none;
  }
  .navbar__search {
    max-width: 50%;
  }
  .detail {
    flex-direction: column;
    align-items: center;
  }
  .detail-image {
    width: 80%;
  }
  .cart-item {
    flex-direction: column;
    align-items: center;
  }
  .cart-thumbnail {
    width: 250px;
    border-radius: 0.3rem;
  }
}

/* Phone */
@media all and (max-width: 500px) {
  /* ///////////// nav */
  .navbar {
    flex-direction: column;
    padding: 0 2%;
  }
  .category {
    padding: 0 10%;
  }

  .navbar__logo {
    padding: 4%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .navbar__logo a h1 {
    font-size: 1.1rem;
  }

  .navbar__toggle {
    display: flex;
  }

  .navbar__togle ul li a {
    padding: 10px;
  }

  .navbar__search {
    max-width: 100%;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu li {
    width: 100%;
    text-align: center;
  }
  /* ///////////// \ nav */
  .category {
    padding: 1% 1% 1% 1%;
  }

  main {
    padding: 9% 1% 5% 1%;
  }
  .section__title {
    margin-bottom: 6%;
  }
  .card-item {
    width: 46%;
    margin: 4% 2% 4% 2%;
  }

  .detail {
    flex-direction: column;
    align-items: center;
  }
  .detail-image {
    width: 90%;
    margin-bottom: 20px;
  }
  .cart-item {
    flex-direction: column;
    align-items: center;
  }
  .cart-thumbnail {
    width: 250px;
    border-radius: 0.3rem;
  }
}
